/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.card {
    position: relative;
    width: 300px;
    height: 200px;
    -webkit-perspective: 500px;
            perspective: 500px;
    margin: 0 auto 20px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.card-opened .content {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    /* line-height: 300px; */
    color: #03446A;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    background: #03446A;
    color: white;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.resposta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.resposta-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
}

.resposta span {
    padding: 5px 20px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.resposta-sim {
    background-color: green;
}

.resposta-nao {
    background-color: red;
}


@media (min-width: 700px) {
    .card {
        margin: 0;
        width: 400px;
        height: 300px;
    }
}